.important_input {
    color: red;
}.eventItem {
    display: flex;
    justify-content: space-between;
    & .eventItem__image img{
        width: 180px;
    }
}
.main_preview {
    & .Polaris-Layout__Section {
        margin-top: 0px !important;
    }
    & .Polaris-Page__Content {
        margin-top: var(--p-space-4);
    }
    & .Polaris-Page {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media screen and (max-width: 600px) {
        .eventItem {
            flex-wrap: wrap;
        }
    }
}
.main_generalSetting {
    display: flex;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
    & .eventItem__image {
        margin-bottom: 10px;
    }
}
.event_filter_sidebar {
    & ul {
        display: flex;
        & li {
            list-style: none;
        }
    }
}

.viewMode__widget {
    flex-direction: column;
}
.viewMode__list {
    flex-direction: row;
}
.viewMode__grid {

}
.viewMode__slider {

}
.viewMode_upCommingEvent {

}
.viewMode_FacebookEventsView {
    
}
