.important_input {
    color: red;
}.eventItem {
    display: flex;
    justify-content: space-between;
    & .eventItem__image img{
        width: 180px;
    }
}
.main_preview {
    & .Polaris-Layout__Section {
        margin-top: 0px !important;
    }
    & .Polaris-Page__Content {
        margin-top: var(--p-space-4);
    }
    & .Polaris-Page {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.main_generalSetting {
    display: flex;
    @media only screen and (max-width: 900px) {
        flex-direction: column;
    }
}