.howto {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
}

.button__connect_facebook {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-wrap {
	padding: 20px;
}

.Polaris-Frame {
    min-height: unset !important;
}
