.activeLink {
    color: rgb(0, 0, 0) !important;
    font-style: bold !important;
}
.inActiveLink {
    color: unset;
    font-style: unset;
}
.link_bank_docs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    & a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        &:hover {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
    }
}
.dropdown-menu {
    padding: 0px !important;
    margin: 0px !important;
    min-width: none;
    & .dropdown-item {
        color: #FFF;
        padding: 0px;
    }
}

.nav_main {
    padding-left: 0px !important;
    background: linear-gradient(45deg, #4199fe, #74b4fe);
    color: #FFF;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.nav-link {
    font-size: 18px;
}


