.activeLink {
    color: rgb(0, 0, 0) !important;
    font-style: bold !important;
}
.inActiveLink {
    color: unset;
    font-style: unset;
}
.link_bank_docs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    & a {
        color: rgba(0,0,0,.5);
        text-decoration: none;
        &:hover {
            color: rgba(0,0,0,.5);
            text-decoration: none;
        }
    }
    
}