.howto {
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
}

.button__connect_facebook {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-wrap {
	padding: 20px;
}

table { 
    width: 100%; 
    border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
    background: #eee; 
    text-align: center; 
}
th { 
    color: #000; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    text-align: center; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    td:nth-of-type(1):before { content: "FACEBOOK_PAGE_ID"; }
    td:nth-of-type(2):before { content: "PAGE_NAME"; }
    td:nth-of-type(3):before { content: "SHORT CODE"; }
    td:nth-of-type(4):before { content: "ACTION"; }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        max-width: 320px; }
    }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
        max-width: 495px; 
    }
}